#{extends 'CRUD/layout.html' /}
#{set title:messages.get('checkout.title') /}

<div id="crudBlank" >

    <h2 id="crudBlankTitle">&{'checkin.scanItem'}</h2>
    
    <div class="objectForm">
     <form action="@{Checkins.checkin()}", method='post'>
        &{'checkout.scan.item.barcode'}(type 0001): <input name="itemBarcode" id="itemBarcode" type="text" ><br>
        <p class="crudButtons">
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
         
        <table>
        <thead>
            <tr>
                <th>barcode</th>
                <th>name</th>
                <th width="13%">Action</th>
            </tr>
        </thead>
        <tbody id="itemBody" >
    
        </tbody>
    </table>
    
    </form>
    </div>
    
    <script type="text/javascript">
    
    var itemBarcodeScanned = 'itemBarcodeScanned';
    $("#itemBarcode").keypress(function(e) {
    		if(e.keyCode == 13) {
				//TODO: do ajax call here
				 barcode = $("#itemBarcode").val();
				
				 $.ajax({
						url: "@{Checkins.scanItem()}",
						dataType: "json",
						data: {
							barcode: barcode
							//name_startsWith: request.term
						},
						success: function( data ) {
							var item = data;
							var barcode = item.barcode;
							
							if (!itemScanned(barcode)) {
								var tr = $("<tr></tr>");
								
								var inputBarcode = $("<input type='text'>").attr('name', itemBarcodeScanned);
								inputBarcode.val(barcode).appendTo($("<td></td>").html(barcode).appendTo(tr));
								$("<td></td>").html(item.name).appendTo(tr);
								$("<td>Delete</td>").appendTo(tr);
								tr.appendTo("#itemBody");
							}
							$("#itemBarcode").val("");
							
							},
						
						
						error: function(jqXHR, exception) {
				            if (jqXHR.status === 0) {
				                alert('Not connect.\n Verify Network.');
				            } else if (jqXHR.status == 700) {
				                alert('The barcode is NOT found.');
				            } else if (jqXHR.status == 710) {
				                alert('More than one materials are found.');
				            } else if (jqXHR.status == 720) {
				                alert('The material has been reported lost.');
				            } else if (jqXHR.status == 730) {
				                alert('The material is not checked in yet');
				            }else {
				            	alert(jqXHR.responseText);
				            }
				            $("#itemBarcode").val("");
				        }
							
					});
				 
				 e.stopPropagation();
	    			return false;
    		}
    	});
         
     //Check if the material barcode is scaned or not. 
     function itemScanned(barcode){
    	 var scanned = false; 
    	 $(":input[name='itemBarcodeScanned']").each(function() {
    		 if ($(this).val()==barcode) {
    			 scanned = true; 
    			 return false;
    		 }
    	 });
    	 
    	 return scanned;
     }
     
   //focus on the library card barcode. 
        $("#itemBarcode").focus();
   
    </script>   

</div>